#to_cluster.desktop {
	position: absolute;
	text-indent: -9999px;
	width: 1100px;
	left: 50%;
	margin-left: -333px;
	margin-bottom: -32px;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 200%;
	display: block;
	font-size: 150px;
	height: 200px;
}

#to_cluster.mobile {
	font-size: 80px;
	margin-top: 60px;
	color: #fff;
	margin-top: -572px;
}

.clustered svg {
  position: absolute;
  top: -12px;
  left: 0;
}

.intro-text{
  width: 1100px;
  margin-top: 160px;
  background-color: rgba(69, 69, 69, 0.18);
  padding: 30px;
}

@media only screen and (max-device-width: 480px){
	.intro-text {
    	margin-top: 0px;
		width: 100% !important;
	}
}

.navigate-btn {
	width:1100px;
}

@media only screen and (max-device-width: 480px){
	.navigate-btn {
		display: none;
	}
}

.black { /* actually white color */
    color: #fff;
    border-color: #fff;
}

@media only screen and (max-device-width: 480px){
    .intro {
        /* height: 640px; */
    }
}
