#to_cluster.desktop {
	position: absolute;
	text-indent: -9999px;
	width: 1100px;
	left: 50%;
	margin-left: -333px;
	margin-bottom: -32px;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 200%;
	display: block;
	font-size: 150px;
	height: 200px;
}

#to_cluster.mobile {
	margin-top: 60px;
	width: 320px !important;
	color: #fff;
}

.clustered svg {
  position: absolute;
  top: -12px;
  left: 0;  
}

.intro-text{
  width: 1100px;
  margin-top: 160px;
  background-color: rgba(69, 69, 69, 0.18);
  padding: 30px;
}

@media only screen and (max-width: 480px){
	.intro-text {
		margin-top: 20px;
		width: 320px !important;
	}
} 

.navigate-btn {
	width:1100px;
}

@media only screen and (max-width: 480px){
	.navigate-btn {
		width: 320px !important; 
	}
}

.black {
    color: #777;
    border-color: #777;
}